<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Virtual Pet Game - Create Account</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="js/main.js"></script>
    <link id="page-theme" rel="stylesheet" href="/css/sakura.css" />
    <link rel="stylesheet" href="css/accessible.css" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
  </head>
  <body>
    <h1>Create your account</h1>
    <form action="/create" method="POST">
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <input type="submit" value="create" />
    </form>
    <p id="createAccountFail"></p>
    <form action="/" method="GET">
       <input type="submit" value="Back to login"/>
     </form>
  </body>
</html>